<a href="https://colab.research.google.com/github/Namrata3103-star/Coding/blob/main/Loops%2C_Functions_%26_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
L=random.randint(1,10)
count=1
for i in range(1,4):
  if count<=3:
    num=int(input("Number:"))
    if num>L:
      print("TOO HIGH")
    elif num<L:
      print("TOO SMALL")
    else:
      print("correct guess")
      break
  count=count+1

print("Game Over")

Number:8
TOO SMALL
Number:9
TOO SMALL
Number:10
correct guess
Game Over

In [ ]:
inp=input()
if inp.isdigit()==True:
  print("integer")
else:
  print("alphabet")

nim
alphabet

In [ ]:
ch=input()
x=chr(ord(ch)-1)
y=chr(ord(ch)+1)
print(x)
print(y)

@
?
A

In [ ]:
ch=input()
x=ord(ch)-1
x

A

64

In [ ]:
x,y,z=input().split()
if int(z)<(int(x)+int(y)) and int(x)<(int(y)+int(z)) and int(y)<(int(x)+int(z)):
  print("Valid")
else:
  print("Invalid")

3 4 5
Valid

In [ ]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

In [ ]:
input_str = 'Kumar_Ravi_003' 
new=input_str.split('_')
first_name=new[1]
second_name=new[0]
customer_code=new[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [ ]:
input_str=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
new=' & '.join(input_str)
new

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [ ]:
input_str='Python_is_fun'
new=input_str.split('_')[1:len(input_str)]
new1=' '.join(new)
new1

'is fun'

In [ ]:
input_str='Python_is_fun'
new=input_str.split('_')[1:len(input_str)]
new

['is', 'fun']

In [ ]:
input_str='Python is fun'
new=list(input_str)
new

['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'f', 'u', 'n']

In [ ]:
n=int(input())
for i in range(1,11):
  print(n,'x',i,'=',n*i)

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
input_string=input()
input_char=input()
newinput_str=input_string.lower()
count=newinput_str.count(input_char.lower())
print(count)

Python programming
P
2

In [ ]:
n=input()
sum=0
for digit in n:
  sum=sum+int(digit)
print(sum)

5678
26

In [ ]:
n=input()
count1=0
count2=0
count3=0
for i in n:
  if int(i)%2==0 and int(i)!=0:
    count2=count2+1
    
  elif int(i)==0:
    count3=count3+1
    
  else:
    count1=count1+1
    
print("Number of odd digits:",count1)
print("Number of non-zero even digits:",count2)  
print("Number of zeros:",count3)

1030
Number of odd digits: 2
Number of non-zero even digits: 0
Number of zeros: 2

In [ ]:
n=input()
new=n.replace(' ','')
new1=''.join([i for i in new if not i.isdigit()])
new2=""
for i in new1:
  if i.isalnum()==True:
    new2=new2+i
new3=new2.swapcase()
print(new3)

Programming1234
pROGRAMMING

In [ ]:
input_string=input()
new_str=''
for c in input_string:
  if (c.isalpha()):
     if c.isupper():
       new_str=new_str+c.lower()
     else:
       new_str=new_str+c.upper()
print(new_str)

Programming1234
pROGRAMMING

In [ ]:
input_list=[[5, 1, 3, 4, 4, 5, 6, 7],[3, 3, 5, 5, 1 ,7 ,2]]
list_1 = input_list[0]
list_2 = input_list[1]
set_1=set(list_1)
set_2=set(list_2)
set_3=set_1.intersection(set_2)
new_set=sorted(set_3)
answer=list(new_set)
print(answer)

[1, 3, 5, 7]

In [ ]:
input_dict={ 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
L=input_dict[104]
profession=L[2]
print(profession)

Product Lead

In [ ]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
if 'Label' in input_dict:
  print("A")
else:
  print("NA")

NA

In [ ]:
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}
Employee_data[104]=27
Employee_data[140]=27
Employee_data[164]=27
del Employee_data[143]
mean=sum(Employee_data.values())/len(Employee_data)
mean

31.136986301369863

In [ ]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [ ]:
input_str='bATA'
L=input_str[0]
if L in 'aeiouAEIOU':
  print("YES")
else:
  print("NO")

NO

In [ ]:
input_list=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
newL=[]
for i in input_list:
  L=i.capitalize()
  newL.append(L)
print(newL)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
n = int(input())
L=[i**2 for i in range(1,n+1)]
print(L)

5
[1, 4, 9, 16, 25]

In [ ]:
input_list=['wood','old','apple','big','item','euphoria']
list_vowel =[i for i in input_list if i[0] in 'aeiouAEIOU']
print(list_vowel)

['old', 'apple', 'item', 'euphoria']

In [ ]:
input_list=['6','7']
x = int(input_list[0])
y = int(input_list[1])
def squared(x,y):
    return(x**y)
print(squared(x,y))

279936

In [ ]:
input_list=['9','11']
a = int(input_list[0])
b = int(input_list[1])
greater=lambda a,b:max(a,b)
print(greater(a,b))

11

In [ ]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [ ]:
L1 = [2, 7, 8, 10, 3]

def func(y):
    return y**2- 2 * y - 2

ans_list = [func(x) for x in L1]
ans_list

[-2, 33, 46, 78, 1]

In [ ]:
input_list=[['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = input_list[0]
last_name = input_list[1]
name = map(lambda x,y:x+" "+y,first_name,last_name)
print(list(name))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [ ]:
input_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
list_answer =filter(lambda x:x%5==0,input_list)
print(list(list_answer))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
input_list=['soap','sharp','shy','silent','ship','summer','sheep']
sp = filter(lambda x:x[0]=='s' and x[-1]=='p',input_list)
print(list(sp))

['soap', 'sharp', 'ship', 'sheep']

In [ ]:
import ast
input_list = ast.literal_eval(input())
K = int(input())
L=[]
for i in input_list:
  if i.isdigit():
    num=int(i)+K
    n=str(num)
    L.append(n)
  else:
    L.append(i)
print(L)

['Data Science', '100', '10']
10
['Data Science', '110', '20']

In [ ]:
import ast
input_list = ast.literal_eval(input())
K = int(input())
for i in input_list:
  if K<=len(input_list):
    L=input_list[K-1:]
print(L)

['Mumbai', 'Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']
2
['Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']

In [ ]:
import ast
input_list = ast.literal_eval(input())
input_list.sort(key=lambda i:i[1],reverse=True)
input_list

[(55,77), (34,90), (67,100), (90,0)]

[(67, 100), (34, 90), (55, 77), (90, 0)]

In [ ]:
input_str=input()
new_str=input_str.replace(',','')
for i in new_str:
  if int(i)!=0:
    num=int(new_str) % int(i)
  elif int(i)==0:
    num=0
if num==0:
  print("Happy Number")
else:
  print("Sad Number")

256
Sad Number

In [ ]:
L1=[1,2,3,4]
L2=[5,6,7,8]
sum=map(lambda x,y:x+y,L1,L2)
print(list(sum))

[6, 8, 10, 12]

In [ ]:
L=["cat","bat","rat","sat"]
L1=L[::-1]
L1

['sat', 'rat', 'bat', 'cat']

In [ ]:
L=[1,2,3,4]
f1,f2,f3,f4=L
print(f1,f2,f3,f4)

1 2 3 4

In [ ]:
giftBox = 'bread iph*one butter ip*ad milk'
L=giftBox.split()
for word in L:
  if '*' in word:
    print(word)

iph*one
ip*ad

In [ ]:
colors = 'red orange blue indigo green'
L=colors.split()
print(L)
for word in L:
  if word[0] in 'aeiou':
    print(word)

['red', 'orange', 'blue', 'indigo', 'green']
orange
indigo

In [ ]:
dct = {'here':[1,2,3,{'target':(False,{'color':'black','greetings':['hello world']})}]}
L=dct['here'][3]
newL=L['target'][1]
final_dct=newL['greetings'][0][0:5]
final_dct

'hello'

In [ ]:
import random
L=random.randint(1,10)
count=1
while count<=3:
  num=int(input("Number:"))
  if num>L:
    print("TOO HIGH")
  elif num<L:
    print("TOO SMALL")
  else:
    print("correct guess")
    break
  count=count+1

print("Game Over")

Number:4
TOO SMALL
Number:6
correct guess
Game Over

In [ ]:
num=int(input("Number: "))
if num%2==0:
  print("Even")
else:
  print("Odd")

Number: 4
Even

In [ ]:
L=[1,2,3,5]
L.reverse()
L

[5, 3, 2, 1]

In [ ]:
Amazon={"Mobiles":{"IOS":{"Iphone 11":{"Battery":"3000mAh","Camera":"8MP","Price":"Rs.50000","Discount":"20% OFF"},
                          "Iphone 13":{"Camera":"12MP","RAM":"6GB","Price":"Rs.70000","Discount":"25% OFF"}},
                   'Android':{"Samsung 21 Ultra":{"Battery":"5000mAh","Camera":"80MP"}}},
        "Books":{"Genres":{"Self_Help":"Pshychology_of_Money",
                           "Literature_fiction":"Harry_Potter"}},
        "Clothing":{"Kids":{"Shorts":"Lily Puts"},"Adults":{"Men":'Nike',"Women":'Zara'}},
        "Computers":{"Windows":'Dell G15',"Mac":"Macbook Pro"}}
      
Amazon['Mobiles']['IOS']['Iphone 11']['Price']=(100-int(Amazon['Mobiles']['IOS']['Iphone 11']['Discount'].split("%")[0]))*int(Amazon['Mobiles']['IOS']['Iphone 11']['Price'].split('.')[1])/100
Amazon['Mobiles']['IOS']['Iphone 13']['Price']=(100-int(Amazon['Mobiles']['IOS']['Iphone 13']['Discount'].split("%")[0]))*int(Amazon['Mobiles']['IOS']['Iphone 13']['Price'].split('.')[1])/100
Amazon

{'Books': {'Genres': {'Literature_fiction': 'Harry_Potter',
   'Self_Help': 'Pshychology_of_Money'}},
 'Clothing': {'Adults': {'Men': 'Nike', 'Women': 'Zara'},
  'Kids': {'Shorts': 'Lily Puts'}},
 'Computers': {'Mac': 'Macbook Pro', 'Windows': 'Dell G15'},
 'Mobiles': {'Android': {'Samsung 21 Ultra': {'Battery': '5000mAh',
    'Camera': '80MP'}},
  'IOS': {'Iphone 11': {'Battery': '3000mAh',
    'Camera': '8MP',
    'Discount': '20% OFF',
    'Price': 40000.0},
   'Iphone 13': {'Camera': '12MP',
    'Discount': '25% OFF',
    'Price': 52500.0,
    'RAM': '6GB'}}}}

In [ ]:
import ast
String=input()
L=[]
for i in String:
  new_L=String.rstrip(']').lstrip('[')
List=new_L.split(',')
for num in List:
  L.append(int(num))
final_list=L
if len(final_list)<=11:
  S=sum(final_list)
  print(S)
else:
  print('-1')

[11, 13, 101, 14, 33, 141, 12, 144, 54, 67, 8, 11]
-1

In [ ]:
import re
test_str = input()
L=re.findall(r"[A-Z]+",test_str)
newL=[len(i) for i in L]
print(L)
print(max(newL))

India WOn the WOrLD CUP
['I', 'WO', 'WO', 'LD', 'CUP']
3

In [ ]:
import ast
input_dictionary = input()
convert_dictionary = ast.literal_eval(input_dictionary)
input_list = input()
convert_list = ast.literal_eval(input_list)
for i in convert_list:
   if i[0] in convert_dictionary.keys():
     convert_dictionary[i[0]]=i[1]
print(convert_dictionary)

{"Atletico Madrid" : "D" , "Juventus": "B", "Chelsea": "C" }
[["Juventus", "G"], ["Chelsea", "H"]]
{'Atletico Madrid': 'D', 'Juventus': 'G', 'Chelsea': 'H'}

In [ ]:
import ast
S1=input()
S2=input()
L1=ast.literal_eval(S1)
L2=ast.literal_eval(S2)
count=0
for i,j in zip(L1,L2):
  if float(i)<=float(j):
    count=count+1
print(count)
if count>=3:
  print("Selected")
else:
  print("Rejected")

['8', '4', '6', '9', '7']
['1', '1.1', '1.2', '1.2',  '2.3']
0
Rejected

In [ ]:
import ast
S1=input()
S2=input()
d1=ast.literal_eval(S1)
d2=ast.literal_eval(S2)
d3=dict(d1,**d2)
print(d3)

{'a': 110, 'b': 88}
{'d': 62, 'c': 44}
{'a': 110, 'b': 88, 'd': 62, 'c': 44}

In [ ]:
input_list=['Santa Cruz','Santa fe','Mumbai','Delhi']

count = sum(map(lambda word: word[0] == 'M', input_list))
print(count)

1

In [ ]:
input_list=[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
input_list1=input_list[0]
input_list2=input_list[1]
for i,j in zip(input_list1,input_list1):
    print(i," ",j)

Ankur   Ankur
Avik   Avik
Kiran   Kiran
Nitin   Nitin

In [ ]:
input_list=['soap','sharp','shy','silent','ship','summer','sheep']
check = lambda x: x[-1]=='p'and x[0]=='s'
sp= filter(check,input_list)
print(list(sp))

['soap', 'sharp', 'ship', 'sheep']

In [ ]:
from functools import reduce
input_list= [65,76,87,23,12,90,99]
s= reduce(lambda x,y: max(x,y),input_list)
print(s)

99

In [ ]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}
L=students_data.keys()
print(list(L))

[1, 2, 3, 4, 5]

In [ ]:
output_dict= {val : val**3 for val in range(1,100) if val % 3 == 0}
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [ ]:
Word=input("Word: ")
red=0
blue=0
for char in Word:
    if char=='b':
        print("Word belongs to blue team")
        blue=1
        break
    elif char=='r':
        print("Word belongs to red team")
        red=1
        break
if red==0 and blue==0:
    print("Word does not belong to the team")

Word: break
Word belongs to blue team

In [ ]:
n=int(input("Number:"))
L=list(range(1,n+1))
divby17= lambda x:x%17==0
newL=filter(divby17,L)
print(list(newL))

Number:100
[17, 34, 51, 68, 85]

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]
L=[]
for i in sample_list:
    L.append(i+13)
L

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]
L=[i+13 for i in sample_list]
L

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]
dict={}
for i in sample_list:
    L=[]
    for num in range(1,i+1):
        if(i%num==0):
            L.append(num)
    dict[i]=L
print(dict)

{6: [1, 2, 3, 6], 98: [1, 2, 7, 14, 49, 98], 34: [1, 2, 17, 34], 45: [1, 3, 5, 9, 15, 45], 64: [1, 2, 4, 8, 16, 32, 64], 7: [1, 7], 2: [1, 2], 5: [1, 5], 78: [1, 2, 3, 6, 13, 26, 39, 78], 90: [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90], 324: [1, 2, 3, 4, 6, 9, 12, 18, 27, 36, 54, 81, 108, 162, 324], 111: [1, 3, 37, 111], 657: [1, 3, 9, 73, 219, 657], 438: [1, 2, 3, 6, 73, 146, 219, 438]}

In [ ]:
sample_sentence = "Pack my box with five dozen liquor jugs"
new=set(sample_sentence)
print(set(new))
len(new)

{'c', 'y', 'a', 'g', 'r', 's', 'u', 'j', 'o', 'n', 'f', 'd', 'z', 'P', 'w', 'b', 'i', 'h', 'x', 't', 'q', 'e', 'v', 'm', 'l', 'k', ' '}

27

In [ ]:
num = input("Enter three numbers :")

num_list = num.split()
print(num_list)
a = int(num_list[0])
b = int(num_list[1])
c = int(num_list[2])
d=max(a,b,c)
d

Enter three numbers :55 12 44
['55', '12', '44']

55

In [ ]:
n=int(input("Number: "))
sum=0
for i in range(1,n):
    if n%i==0:
        sum=sum+i
if sum==n:
    print("It is a perfect number")
else:
    print("It is not a perfect number")

Number: 6
It is a perfect number

In [ ]:
list1 = [5, 8, 9, 12]
list2 = [10, 12, 8, 6]
newlist=map(lambda x,y:x+y,list1,list2)
print(list(newlist))

[15, 20, 17, 18]

In [ ]:

def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
factorial(5)

120

In [ ]:
from functools import reduce
n=int(input())
fact=reduce(lambda x,y:x*y,range(1,n+1))
print(fact)

5
120